body{
    
}
#submit{
    background-color: #B4975A;
    border: none;
    padding: 6px;
    color: white;
    margin-top: 15px;
}
.prior-text{
    color: #B4975A !important;
    font-weight: 600;
}
.desc{
    font-size: 15px;
}
.line{
   margin: 10px auto;
    width: 200px;
    border: 1px solid black;
   
}
.please-note{
    font-size: 15px;
    
}
input, select{
    box-shadow: none !important;
}
.err1, .err2, .err3, .err6{
    color: red;
    font-weight: 600;
    letter-spacing: 2px;
}
.whole{
    background: #eee;
}
.fix-size{
    font-size: 18px;
    line-height: 35px;
}
.text-1{
    font-size: 25px;
}

/* media */
@media (min-width:1020px) and (max-width:3000px){
    form{
        padding: 30px 130px;
    }
}